:root {
  --red: #fe4443;
  --grey: #f0efef;
  --grey2: #6e6e6e;
  --lightBlack: #464955;
  --black: #13222a;
  --sindoorMid: #990000;
  --sindoorDark: #850101;
  --sindoorLight: #D3212D;
  --gold: #FFD700;
  --pj-golden: #F1B893;
  --pj-maroon: #70193F;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow-x: hidden;
  overscroll-behavior: none;

  scrollbar-width: thin;
  scrollbar-color: var(--red);
}


.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--grey);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  font-size: 12px;
  font-family: "Orbitron", sans-serif;
}

.progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: var(--red);
  transform: scaleX(0);
  transition: transform 1s;
  transform-origin: left;
  z-index: 10;
  margin: 0 5%;
}

main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
}

.devnagritext {
  font-size: 16px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section--one--container1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
  /* margin-top: 8%; */
  position: relative;
}

.first h1 {
  font-size: 6vw;
  font-family: 'Parisienne', cursive;
  color: var(--sindoorDark);
}

.first h1 span {
  color: var(--sindoorLight);
}

.first p {
  font-size: 2vw;
  font-weight: 400;
  color: var(--sindoorMid);
}

.first h3 {
  color: var(--gold);
  position: absolute;
  font-size: 2vw;
  white-space: nowrap;
  z-index: -1;
  text-transform: uppercase;
  top: 50%;
}

.section--one--container2 {
  width: 70%;
  margin-bottom: 6%;
  display: flex;
  justify-content: space-between;
}

.spec--wrapper .name {
  font-size: 1.5vw;
  font-weight: 400;
  color: var(--lightBlack);
}

.value--wrapper {
  display: flex;
  align-items: flex-end;
}

.value--wrapper .value {
  font-size: 2.3vw;
  font-weight: 200;
  font-family: "Orbitron", sans-serif;
  color: var(--red);
}
.value--wrapper .unit {
  font-size: 1vw;
  margin: 0 5px;
  margin-bottom: 0.5vw;
  font-weight: 600;
  color: var(--lightBlack);
}


.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.section--two--container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transform: rotateZ(-90deg) translateY(-450px);
  transition: all 0.5s ease-in-out;
  opacity: 0; */
}

.second h1 {
  font-size: 5vw;
  font-family: "Orbitron", sans-serif;
  color: var(--lightBlack);
  white-space: 0px;
}

.section--two--container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8%;
  /* transition: all 0.5s ease-in-out;
  transform: translateX(450px);
  opacity: 0; */
}

.second span {
  font-size: 6vw;
  font-family: "Orbitron", sans-serif;
  color: var(--red);
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: 0px;
}

.second p {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  color: var(--lightBlack);
}

.leftSide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.section--three--container {
  display: flex;
  flex-direction: column;

  width: 30%;
  margin-left: 10%;
  transform: translateX(-50px);
  transition: all 0.5s ease-in-out;
  /* opacity: 0; */
}

.rightSide {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red);
  border-radius: 2px;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  pointer-events: none;
  z-index: -1;
}