body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.nav--bar{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.button--navbar {
  background: black;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 10px 30px;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
}
